//____________________SERVICES_PAGE
//____________________services_header(section_1)
.services_header {
	min-height: 32.2rem;
	//border: 1px solid red;

	.header_wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 3rem;
	}
	.header_logo {	
		width: 29rem;
		height: 7rem;
		//border: 1px solid red;
	}
	.logo_img {
		width: 100%;
		height: auto;
	}
	.nav_menu {
		position: relative;
		height: 7rem;
		display: flex;
		align-items: center;
		//border: 1px solid red;
	}
	.header_bg_menu {
		position: absolute;
		top: -390%;
		left: -14%;
		//transform: scale(1);
		//z-index: 1000;
	}
	.menu_items {
		//position: relative;
		//height: 7rem;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}	
	.menu_item {
		position: relative;	
		margin-left: 2.2rem;
		margin-right: 2.2rem;

		/* &::after {
			content: "";
			position: absolute;
			height: 0.3rem;
			width: 100%;
			top: 2.54rem;
			left: 0;
			background-color: $yellow-bg;
			transform: scale(0);
			transition: transform 0.2s;
			//z-index: 2000;
		}
		&:hover,
		&:focus,
		&:active { 
			outline: none;
		
			&::after {
				transform: scale(1);
			}
		} */
	}
	.menu_item__active {
		position: relative;

		&::after {
			content: " ";
			position: absolute;
			width: 100%;
			height: 0.3rem;			
			top: 2.54rem;
			left: 0rem;
			background-color: $yellow-bg;
			transform: scale(1);
			//border: 1px solid red;
		}
	}
	.menu_link {	
		@include nav_menu;
		color: $white-text;
		//color: $black-text;

		&:hover {
 			color: $yellow-bg;
 		}	
 		&:active {
 			color: $white-text;
 		}	
	}
}

//____________________services_our(section_2)
.services_our {
	margin-top: -15rem;
	margin-bottom: 6rem;

	.service_title {
		margin: 0;
		margin-bottom: 12rem;
		@include section_title;
		color: $purple-text;
		line-height: 18.3rem;
	}
	.service_type_left {
		//border: 1px solid red;
	}
	.service_type_right {
		//border: 1px solid red;
	}
	.service_type_wrap {
		margin-bottom: 6rem;
		//border: 1px solid red;
	}
	.service_link {
		margin: 0;
		@include section_subtitle_semi;
		font-size: 2.4rem;
		line-height: 2.5rem;
		color: #2A284A;
		//text-decoration: underline;

		&:hover,
		&:focus,
		&:active {
			outline: none;
			text-decoration: underline;
		}
	}
	.service_type_left .service_items {
		width: 53.4rem;
		padding: 0;
		margin: 0;
		margin-top: 3rem;
		margin-left: 14rem;
		list-style-type: none;
	}
	.service_type_right .service_items {
		width: 67.6rem;
		padding: 0;
		margin: 0;
		margin-top: 3rem;
		margin-left: 14rem;
		list-style-type: none;
	}
	.service_item {
		margin-bottom: 1.5rem;
		@include section_text;
		font-size: 1.6rem;
		line-height: 2.5rem;
		color: #2A284A;
	}
}	

//____________________services_form(section_3)
.services_form {
	margin-bottom: 12rem;

	.services_form_fluid {
		padding: 0;
	}
	.services_form_wrap {
		//width: 179.4rem;
		width: 94%;
		min-height: 41.6rem;
		padding-left: 15rem;
		background-color: $grey-bg;
		border-radius: 0rem 2rem 2rem 0rem;
		box-shadow: inset 1rem 1rem 6rem 0.5rem rgba(0,0,0,0.025), 2rem 2rem 6rem 0.5rem rgba(0,0,0,0.115);
	}
	.container_no_padding {
		padding: 0;
	}
	.form_title {
		margin: 0;
		margin-top: 16.5rem;
		margin-left: -1.5rem;
		//padding-left: 13rem;
		//padding-left: 16%;
		@include section_subtitle_semi;
		font-size: 7.2rem;
		//line-height: 2.5rem;
		//border: 1px solid red;
	}
	.form {
		width: 39.5rem;
		margin-left: 15rem;
		margin-top: 6rem;
		//border: 1px solid red;

		label {
			@include section_text;
			font-size: 1.6rem;
			line-height: 2rem;
		}
	}
	.form_dscr {
		margin-left: 18rem;
		@include section_subtitle_semi;
		font-size: 1.1rem;
		line-height: 2.5rem;
		color: #FF2020;
	}
	.form_name,
	.form_phone,
	.form_email {
		margin-top: 0.5rem;
		margin-bottom: 1.5rem;
		padding: 0 1.5rem;
		width: 100%;
		height: 4rem;
		@include section_text;
		font-size: 1.8rem;
		border-radius: 1rem;
		border: 1px solid #C2C2C2;

		&:focus,
		&:active {
			outline: none;
			border: 2px solid #a7a6a6;
		}
	}
	.form_btn {
		width: 100%;
		padding: 1rem 15rem;
		margin-top: 1.5rem;
		//margin-bottom: 3rem;
		background-color: #FF6464;
		@include section_text;
		font-size: 1.8rem;
		color: $white-text;
		border: none;
		border-radius: 1rem;
		cursor: pointer;

		&:hover,
		&:focus,
		&:active {
			outline: none;
			background-color: #ed4e4e;
		}
	}
}