//____________________SERVICES_INNER_PAGE
//____________________services_item(section_2)
.services_inner {
	margin-top: -15rem;
	margin-bottom: 9rem;
	
	.back {
		display: flex;
		align-items: center;
		width: 21rem;
		margin-bottom: 3rem;
		//border: 1px solid red;
	}
	.back_arrow {
		display: block;
		width: 6rem;
		height: 1.5rem;
		margin-right: 3rem;
		background-image: url('../img/back-arrow.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		//border: 1px solid red;
	}
	.back_link {
		@include section_text;
		font-size: 3rem;
		line-height: 3.7rem;
		color: $black-text;
		//border: 1px solid red;
	}
	.services_inner_title {
		margin: 0;
		margin-bottom: 8rem;
		@include section_subtitle_semi;
		font-size: 4.8rem;
		line-height: 5.8rem;
		//border: 1px solid red;
	}
	.info_left {
		//margin-right: 3rem;
	}
	.info_left_title {
		margin: 0;
		margin-bottom: 3rem;
		@include section_subtitle_semi;
		font-size: 2.4rem;
		line-height: 2.5rem;
		color: #2A284A;
	}
	.info_left_items {
		//width: 53.4rem;
		margin: 0;
		margin-left: 14rem;
		padding: 0;
		list-style-type: none;
	}
	.info_left_item {
		margin-bottom: 1.5rem;
		@include section_text;
		font-size: 1.6rem;
		line-height: 2.5rem;
		color: #2A284A;
	}
	.info_right {
		//width: 95.7rem;
	}
	.info_right_text {
		margin: 0;
		margin-bottom: 3rem;
		@include section_text;
		font-size: 2rem;
		line-height: 2.6rem;
		color: #707070;
	}
}