//__________text-color
$white-text: #ffffff;
$black-text: #292929;
$grey-text: #c2c2c2;
$purple-text: #100C64;

//__________background-color
$main-bg: #ffffff;
$yellow-bg: #fdbd00;
$purple-bg: #100C64;
$grey-bg: #eeeeee;

//__________@media
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;

//__________retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;